BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach       # K&R: braces on same line
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false